*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Monda', sans-serif;
}
body{
    background-color: var(--back-ground) ;
    margin-top: 5rem;
}

:root{
    --back-ground: #1a1a1a;
    --back-ground--panel: #343434;
    --back-ground--button-launch: #EE0000;
    --back-ground--button-launch--hover: #cc0000;
    --text-color--button-launch: #FFFFFF;
    --text-color--info: #00FF29;
    --lights-red: #ee0000;
    --lights-orange: #FF7700;
    --lights-yellow: #FFF700;
    --lights-green: #00AF04;
    --lights-blue: #007EFF;
    --panel-border-radius: 2.6rem;
    --panel-box-shadow: 35px 35px 100px #2f2f2f,
                        -35px -35px 100px #393939;
}

/* Top lights */
.lights{
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-ground--panel);
    margin: auto;
    border-radius: var(--panel-border-radius);
    box-shadow:  var(--panel-box-shadow);
}
.lights__container{
    width: 30%;
    height: 90%;
    /* background-color: brown; */
    display: grid;
    margin: 0.3rem;
    grid-template-columns: repeat(5, minmax(20%, 1fr));
    grid-template-rows: auto;
    grid-template-areas: "light1 light1 . light2 light2"
                         ". light3 light3 light3 ."
                         "light4 light4 . light5 light5"
                         ;
}
.light{
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: chartreuse;
    justify-self: center;
    align-self: center;
}
.light--top--left{
    grid-area: light1;
}
.light--top--right{
    grid-area: light2;
}
.light--center{
    grid-area: light3;
}
.light--bottom--left{
    grid-area: light4;
}
.light--bottom--right{
    grid-area: light5;
}

/* colored lights */
.light--red{
    background: var(--back-ground--button-launch);
    opacity: 0.8;
    animation-name: light--red-pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.light--red:nth-child(2){
    animation-delay: 0.5s;
}
.light--orange{
    background: var(--lights-orange);
    opacity: 0.8;
    animation-name:light--orange-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.light--orange:nth-child(2), .light--orange:nth-child(4){
    animation-delay: 0.5s;
}
.light--orange:nth-child(3), .light--orange:nth-child(5){
    animation-delay: 1s;
}
.light--yellow{
    background: var(--lights-yellow);   
    opacity: 0.8;
    animation-name: light--yellow-pulse;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
.light--yellow:nth-child(2){
    animation-delay: 1.2s;
}
.light--green{
    background: var(--lights-green);
    opacity: 0.8;
    animation: light--green-pulse;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;    
}
.light--green:nth-child(2){
    animation-delay: 2.8s;
}
.light--blue{
    background: var(--lights-blue);
    opacity: 0.8;
    animation: light--blue-pulse;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
}
.light--blue:nth-child(2){
    animation-delay: 2.2s;
}

/* Launch */
.button__container{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 75%;
    height: 35%;
    color: var(--text-color--button-launch);
    font-size: 4rem;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
    border-radius: 2.6rem;
    background-color: var(--back-ground--button-launch);
    border: none;
    animation: pulse 5s infinite;
}
.button:hover{
    cursor: pointer;
    background: var(--back-ground--button-launch--hover);
    /* box-shadow: 1px 1px 2px rgba(#fff, .2); */
    text-decoration: none;
    text-shadow: 0.3rem 0.3rem 0.8rem #000000;
    transform: translateY(0.5rem );
    transition: all 250ms linear;    
}

/* Bottom information  */
.information{
    width: 90%;
    height: 25vh;
    color: var(--text-color--info);
    background-color: var(--back-ground--panel);
    margin: auto;
    border-radius: var(--panel-border-radius);
    box-shadow: var(--panel-box-shadow);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, minmax(25%, 1fr));
  
}

.information__container{  
    font-size: 1.6rem ;  
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(6, minmax(10%, 1fr));
    grid-template-rows: auto;
    grid-template-areas: "type type type dots value value";
}
.information--type{
    grid-area: type;
    justify-self: flex-start;
    align-self: center;
}
.information--dots{
    grid-area: dots;
    justify-self: center;
    align-self: center;
}
.information--value{
    grid-area: value;
    justify-self: flex-start;
    align-self: center;
}


/* Animations */
/* button pulse */
@keyframes pulse {
    0% {
      box-shadow: 0 0 3rem 1rem rgba(255, 0, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 1.5rem 0.4rem rgba(255, 0,0, 0);
    }
    100% {
        box-shadow: 0 0 3rem 1rem rgba(255, 0, 0, 0.8);
    }
}

/* light panel pulses */
@keyframes light--red-pulse{
    0% {
        box-shadow: 0 0 3rem 0.8rem rgb(238, 0, 0, 0.9);
      }
      50% {
          box-shadow: 0 0 1.5rem 0.1rem rgb(255, 0, 0, 0);
      }
      100% {
          box-shadow: 0 0 3rem 0.8rem rgb(238, 0, 0, 0.9);
      }
}
@keyframes light--orange-pulse{
    0% {
        box-shadow: 0 0 3rem 0.5rem rgb(255, 119, 0, 0.8);
      }
      50% {
          box-shadow: 0 0 1.5rem 0.1rem rgb(255, 119, 0, 0);
      }
      100% {
          box-shadow: 0 0 3rem 0.5rem rgb(255, 119, 0, 0.8);
      }
}
@keyframes light--yellow-pulse{
    0% {
        box-shadow: 0 0 3rem 0.5rem rgb(255, 247, 0, 0.8);
      }
      50% {
          box-shadow: 0 0 1.5rem 0.1rem rgb(255, 247, 0, 0);
      }
      100% {
          box-shadow: 0 0 3rem 0.5rem rgb(255, 247, 0, 0.8);
      }
}
@keyframes light--green-pulse{
    0% {
        box-shadow: 0 0 3rem 0.5rem rgb(0, 175, 4, 0.9);
      }
      50% {
          box-shadow: 0 0 1.5rem 0.1rem rgb(0, 175, 4, 0);
      }
      100% {
          box-shadow: 0 0 3rem 0.5rem rgb(0, 175, 4, 0.9);
      }
}
@keyframes light--blue-pulse{
    0% {
        box-shadow: 0 0 3rem 0.5rem rgb(0, 126, 255, 0.8);
      }
      50% {
          box-shadow: 0 0 1.5rem 0.1rem rgb(0, 126, 255, 0);
      }
      100% {
          box-shadow: 0 0 3rem 0.5rem rgb(0, 126, 255, 0.8);
      }
}
