*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Monda', sans-serif;
}
body{
    background-color: var(--back-ground) ;
    margin-top: 5rem;
    overflow: hidden;
}
:root{
    --back-ground: #1a1a1a;
    --white: #f5f5ff;
    --lightgrey: #dadada;
    --midgrey: #b4b2b2;
    --darkgrey: #4d4646;
    --red: #f01a19;
    --darkred: #880f01;
    --blue: #007eff;
    --orange: #ff7700;
    --green: #00af04;
}
/* main idea and base from: https://codepen.io/eva_trostlos/pen/akQoLN
Altered to own wishes */
.rocket__container{
    position: absolute;
    bottom: -500;
    width: 80px;
    left: calc(50% - 60px);
    animation: launch 8s 0.3s 1 forwards linear;
    opacity: 100;
    z-index: 19;
}
.rocket{
    animation: bounce 0.5s infinite;
}
.rocket--body{
    background-color: var(--midgrey);
    height: 180px;
    left: calc(50% - 50px);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 5px solid var(--white);
}
.rocket--body::before{
    content: '';
    position: absolute;
    left: calc(50% - 24px);
    width: 48px;
    height: 13px;
    background-color: var(--darkred);
    bottom: -13px;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
}
.rocket--window {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--blue);
    left: calc(50% - 20px);
    top: 40px;
    border: 5px solid var(--darkgrey);
}
.rocket--fin {
    position: absolute;
    top: 150px;
    width: 60px;
    height: 70px;
    border-radius: 40%;
}
.fin--left {
    left: -20px;
    top: calc(100% - 20px);
    box-shadow: -15px -20px 0 var(--orange);
}
.fin--right {
    right: -20px;
    top: calc(100% - 20px);
    box-shadow: 15px -20px 0 var(--orange);
}
.fin--center{
    position: absolute;
    left: 50%;
    top: calc(100% - 25px);
    transform: translateX(-50%);
    height: 60px;
    width: 3px;
    background: var(--orange);
    border-radius: 0 0 50% 50%;
}
/* Exhaust flame */
.exhaust--flame {
    position: absolute;
    top: 90%;
    width: 28px;
    background: linear-gradient(to bottom, transparent 10%, var(--white) 100%);
    height: 150px;
    left: calc(50% - 14px);
    animation: exhaust 0.2s infinite;
}
/* Exhaust fumes */
.exhaust--fume{
    width: 60px;
    height: 60px;
    background-color: var(--white);
    list-style: none;
    position: absolute;
    border-radius: 100%;
}
.exhaust--fume:first-child{
    width: 200px;
    height: 200px;
    bottom: -300px;
    animation: fumes 5s infinite;
}
.exhaust--fume:nth-child(2){
    width: 150px;
    height: 150px;
    left: -120px;
    top: 260px;
    animation: fumes 3.2s infinite;
}
.exhaust--fume:nth-child(3){
    width: 120px;
    height: 120px;
    left: -40px;
    top: 330px;
    animation: fumes 3s 1s infinite;
}
.exhaust--fume:nth-child(4){
    width: 100px;
    height: 100px;
    left: -170px;
    animation: fumes 4s 2s infinite;
    top: 380px;
}
.exhaust--fume:nth-child(5){
    width: 130px;
    height: 130px;
    left: -120px;
    top: 350px;
    animation: fumes 5s infinite;
}
.exhaust--fume:nth-child(6){
    width: 200px;
    height: 200px;
    left: -60px;
    top: 280px;
    animation: fumes2 10s infinite;
}
.exhaust--fume:nth-child(7){
    width: 100px;
    height: 100px;
    left: -100px;
    top: 320px;
}
.exhaust--fume:nth-child(8){
    width: 110px;
    height: 110px;
    left: 70px;
    top: 340px;
}
.exhaust--fume:nth-child(9){
    width: 90px;
    height: 90px;
    left: 200px;
    top: 380px;
    animation: fumes 20s infinite;
}

.background{
  width: 100vw;
  height: 100vh;
}

.backgroundContainer__background1{
  position: relative;
}
.stars{
  position: absolute;
  background: #f1f1f1;
  z-index: 18;
  border-radius: 100%;
}

/* Animations */
/* Exhaust */
@keyframes fumes {
    50% {
      transform: scale(1.5);
      background-color: transparent;
    }
    51% {
      transform: scale(0.8);
    }
    100% {
      background-color: var(--white);
      transform: scale(1)
    }
}
@keyframes exhaust {
    0% {
      background: linear-gradient(to bottom, transparent 10%, var(--white) 100%);
    }
    50% {
      background: linear-gradient(to bottom, transparent 8%, var(--white) 100%);
    }
    75% {
      background: linear-gradient(to bottom, transparent 12%, var(--midgrey) 100%);
    }
}
@keyframes fumes2 {
    50% {
      transform: scale(1.1);
    }
}

/* Rocket bouncing */
@keyframes bounce {
    0% {
      transform: translate3d(0px, 0px, 0);
    }
    50% {
      transform: translate3d(0px, -4px, 0);
    }
    100% {
      transform: translate3d(0px, 0px, 0);
    }
}
@keyframes launch{
    0% {
        bottom: -600px;
        opacity: 1;
    }
    100% {
        bottom: 150%;
    }
}
